* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
    aspect-ratio: 1;
    position: absolute;
}

/* Koden ovanför är obligatorisk. Ereventuella CSS skriver ni nedanför denna kommentar */

#videoColors {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    max-width: 2000px;
}




.d-none {
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin: 10rem;
    padding: 3rem;
    border: 3px solid rgb(244, 231, 231);
    color: rgb(241, 77, 77);
}

.container__checkbox {
    display: flex;
}

.checkbox {
    margin: 0.5rem;
}

.button {
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(241, 77, 77);
    color: rgb(244, 231, 231);
}