* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
    aspect-ratio: 1;
    position: absolute;
}

/* Koden ovanför är obligatorisk. Ereventuella CSS skriver ni nedanför denna kommentar */


.d-none {
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

.form {
    margin: 10rem;
    padding: 3rem;
    border: 3px solid grey;
    color: white;
}

.msg {
    text-align: center;
    color: red;
}

.f-col {
    margin: 1rem;
}

.container__checkbox {
    display: flex;
}

.checkbox {
    margin: 0.5rem;
}

.button {
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
    color: lightgrey;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.winnerContainer {
    margin: 10rem;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.winnerButton {
    padding: 1rem;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 5rem;
    margin-top: 1rem;
    cursor: pointer;
}