* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 300px;
    aspect-ratio: 1;
    position: absolute;
}

/* Koden ovanför är obligatorisk. Ereventuella CSS skriver ni nedanför denna kommentar */

.d-none {
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin: 10rem;
    padding: 3rem;
    border: 3px solid grey;
}

.container__checkbox {
    display: flex;
}

.checkbox {
    margin: 0.5rem;
}

.button {
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
    color: lightgrey;
}