* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 300px;
    aspect-ratio: 1;
    position: absolute;
}

/* Koden ovanför är obligatorisk. Ereventuella CSS skriver ni nedanför denna kommentar */

#formDiv {
    display: flex;
    justify-content: center;
}

#spela {
    background-color: green;
    width: 100px;
    height: 50px;
    border-radius: 1rem;
}

body {
    background-image: url(/resources/bakgrundbild.mp4);
    background-position: relative;
}